body {
    font-family: 'Poppins', sans-serif;
}

.hero {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    color: white;
    padding-top: 200px;
    padding-bottom: 200px;
    height: 150px;
    width: 1280px;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.plan {
    text-align: center;
    margin-top: 150px;
}

.link-button {
    background-color: red;
    border-radius: 20px;
    text-decoration: none;
    padding: 15px 40px;
}

.donate {
    text-align: center;
    padding-top: 100px;
}

.taka {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 130px;
    padding-top: 50px;
    font-size: 60px;

}

.other {
    text-align: center;
    text-decoration: underline;
    margin-top: 30px;
}

.now {
    background-color: red;
    border-radius: 20px;
    text-decoration: none;
    padding: 15px 40px;
    display: -moz-popup;
    text-align: center;
    margin-left: 500px;
}

.support-plan {
    display: inline-block;
    width: 350px;
    height: 350px;
    padding: 5px;
    border: 1px solid blue;
    background-color: yellow;
    margin: 20px;
    text-align: justify;
    margin-top: 150px;

}

.para {
    margin: 20px;
    margin-top: 50px;
}

.header {
    margin-top: 120px;
    margin-left: 10px;
}

section {
    display: flex;
    margin-top: 150px;
}

.half-width {
    width: 50%;

}

.half-width img {
    width: 100%;
    margin-right: 70px;
}

.contribute {
    background-color: red;
    border-radius: 20px;
    text-decoration: none;
    padding: 15px 40px;
    margin-top: 50px;

}

#live {
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 100px;

}